
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="bg-green-500 text-white p-4 text-center">
        ✅ Tailwind is working!
    </div>
    <h1 class="display-4">Welcome to just checking Webpack page!
    </h1>
    <h2 class="text-3xl font-bold underline">
       Added this to test tailwind
    </h2>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
